@font-face {
    font-family: Bodoni;
    src: url('BOD_R.TTF');
}

@font-face {
    font-family: Gilroy;
    src: url('Gilroy-Regular.ttf');
}

@font-face {
    font-family: Bookman;
    src: url('BOOKOS.TTF');
}

div{
    background-color: linear-gradient(45deg, #332241, #110B1C);
    font-family: Bodoni;
    color: white;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

div.logo {
    font-size: 48px;
    letter-spacing: 13px;
}

div.logo_line {
    border-bottom: 1px solid white;
    width: 441px;
}

div.mother {
    margin: 0px 150px;
    height: 100%;
    vertical-align: middle;
}

div.hello{
    margin: 210px 0px;
    vertical-align: middle;
}

div.excel {
    position: absolute;
    top: -100px;
    left: 1150px;
}

div.excel > div {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.193);
    width: 414px;
    height: 144px;
    margin-top: 20px;
}

div.Name{
    font-family: Bookman;
    font-size: 62px;
    letter-spacing: 13px;
    text-transform: capitalize;
}

div.content{
    font-family: Gilroy;
    font-size: 36px;
    letter-spacing: 13px;
}

div.ExcelFile {
    width: 100px;
    height: 140px;
    justify-content: center;
    display: table-cell;
    vertical-align: bottom;
}

a > img {
    margin: auto;
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.337);
}

div.ExcelFile:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

p {
    font-family: Bookman;
    letter-spacing: 6px;
}

a {
    text-decoration: none;
    text-decoration-color: white;
    color:white;
}

body {
    height: 98vh;
    background: linear-gradient(45deg, #332241, #110B1C);
    overflow-x: hidden;
}